

	
	<div class="modal fade" id="profil-modal">
		<div class="modal-dialog modal-md">
			
			<div class="modal-content">
	          <div class="modal-header">
	            <h3 class="card-title">Information Personnel</h3>
	          </div>
	          <div class="modal-body">
         	  <!-- /.card-header -->
	          <div class="card-body">
	          
		          	<div class="row">
		              <div class="col-md-6">
		                <div class="form-group">
		                  <label>Nom</label>
		                  <input type="text" name="nomPr" class="form-control" id="nomPr">
		                </div>
		                <!-- /.form-group -->
		              </div>
		              <!-- /.col -->
		              <div class="col-md-6">
		               <div class="form-group">
		                  <label>Tel</label>
		                  <input type="text" name="telPr" class="form-control" id="telPr">
		                </div>
		                <!-- /.form-group -->
		              </div>
		            </div>
		            <!-- /.row -->
		          
		            <div class="row">
		              <div class="col-md-12">
		                <div class="form-group">
		                  <label>Email</label>
		                  <input type="text" name="emailPr" id="emailPr" class="form-control">
		                </div>
		              </div>
		              <!-- /.col -->
		            </div>
		            <!-- /.row -->
		            
		           
		            <div class="row">
		              <!-- /.col -->
		              <div class="col-md-12">
		                <div class="form-group">
		                  <label>Login</label>
		                  <input type="text" name="unPr" class="form-control" id="unPr">
		                </div>
		              </div>
		              <!-- /.col -->
		            </div>
		            <!-- /.row -->
		             
	          </div>
          	<!-- /.card-body -->
          </div>
          
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			<a href="#" type="button" class="btn btn-outline-info btn-md" id="updatePr" data-dismiss="modal">update</a>
          </div>
          
        </div>
        
    	</div>
	</div>
	
	
	
	
    <strong>Copyright &copy; 2019-2020 <a href="#">SEC.ma</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.0.3-pre
    </div>
    

    